<h1>Using Pipes in String</h1>
<h3>Original String :</h3>
<h3>{{str}}</h3>
<h3>ToUpperCase :</h3>
<h3>{{str | uppercase}}</h3>
<h3>ToLowerCase :</h3>
<h3>{{str | lowercase}}</h3>
<hr>
<h1>Using Pipes in Percent</h1>
<h3>A: {{a | percent}} </h3>
<h3>B: {{b | percent:'4.3-5'}} </h3>
<hr>
<h1>Using Pipes in Date</h1>
<h3>Today is {{today | date}}</h3>
<h3>The time is {{today | date:'h:mm a z'}}</h3>
<hr>
<h1>Using Pipes in Currency</h1>
<h3>A: {{a | currency}}</h3>
<h3>B: {{b | currency:'INR'}}</h3>
<hr>
<h1>Using Pipes in Number</h1>
<h3>{{pi | number}}</h3>
<h3>{{pi | number:'4.1-5'}}</h3>
<hr>